name: pr

on:
  push:
    branches-ignore:
      - 'main'

jobs:

  get-affected:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
      - uses: actions/checkout@v2
      - run: git branch
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install nx
        run: npm install -g nx
      - name: install
        run: npm install
      - name: get affected projects
        id: get-affected-projects
        run: |
          echo "::set-output name=affected::$(nx print-affected --base main | jq -c '.projects')"
    outputs:
      affected: ${{ steps.get-affected-projects.outputs.affected }}




  test:
    runs-on: ubuntu-latest
    needs:
      - get-affected
    if: fromJson(needs.get-affected.outputs.affected)[0] != null
    strategy:
      matrix:
        project: ${{ fromJson(needs.get-affected.outputs.affected) }}
      fail-fast: false
    steps:
      - id: trunk-flow
        run: |
          echo "::set-output name=is-trunk::${{ github.ref == 'refs/heads/main' }}"
      - uses: actions/checkout@v2
      - uses: err0r500/test-nx/.github/actions/nx@main
      - uses: err0r500/test-nx/.github/actions/install-deps@main
        with:
          app: ${{ matrix.project }}
      - if: ${{ failure() }}
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.PAT }}
          event-type: ${{ matrix.project }}
          client-payload: '{"success": false }'




  docker-build:
    runs-on: ubuntu-latest
    needs:
      - get-affected
    if: fromJson(needs.get-affected.outputs.affected)[0] != null && github.ref == 'refs/heads/main'
    strategy:
      matrix:
        project: ${{ fromJson(needs.get-affected.outputs.affected) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: err0r500/test-nx/.github/actions/docker@main
        with:
          app: ${{ matrix.project }}
          gitRef: ${{ github.sha }}

      - if: ${{ failure() }} && github.ref == 'refs/head/main'
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.PAT }}
          event-type: ${{ matrix.project }}
          client-payload: '{"success": false }'




  deploy:
    runs-on: ubuntu-latest
    if: fromJson(needs.get-affected.outputs.affected)[0] != null && github.ref == 'refs/heads/main'
    needs:
      - docker-build
      - test
    strategy:
      matrix:
        project: ${{ fromJson(needs.get-affected.outputs.affected) }}
      fail-fast: false
    steps:
      - run: echo "deploy !"
      - uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.PAT }}
          event-type: ${{ matrix.project }}
          client-payload: '{"success": true }'
      - if: ${{ failure() }}
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.PAT }}
          event-type: ${{ matrix.project }}
          client-payload: '{"success": false }'
