name: pr

on: pull_request

jobs:

  get-affected:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: err0r500/test-nx/.github/actions/nx-install@main
      - name: get affected projects
        id: get-affected-projects
        run: |
          echo "::set-output name=affected::$(nx print-affected --base origin/main | jq -c '.projects')"
    outputs:
      affected: ${{ steps.get-affected-projects.outputs.affected }}


  test:
    runs-on: ubuntu-latest
    needs:
      - get-affected
    if: fromJson(needs.get-affected.outputs.affected)[0] != null
    strategy:
      matrix:
        project: ${{ fromJson(needs.get-affected.outputs.affected) }}
    steps:
      - uses: actions/checkout@v2
      - uses: err0r500/test-nx/.github/actions/nx-install@main
      - uses: err0r500/test-nx/.github/actions/app-deps-install@main
        with:
          app: ${{ matrix.project }}


  docker-build:
    runs-on: ubuntu-latest
    needs:
      - get-affected
    if: fromJson(needs.get-affected.outputs.affected)[0] != null
    strategy:
      matrix:
        project: ${{ fromJson(needs.get-affected.outputs.affected) }}
    steps:
      - uses: actions/checkout@v2
      - uses: err0r500/test-nx/.github/actions/docker-build@main
        with:
          app: ${{ matrix.project }}
          gitRef: ${{ github.sha }}
