name: dispatch
on: push
jobs:
  get-affected:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install nx
        run: npm install -g nx
      - name: install
        run: npm install
      - name: get affected projects
        id: get-affected-projects
        run: |
          AFFECTED=$(nx print-affected --base HEAD^1 | jq -c '.projects | @csv')
          echo '::set-output name=affected::[$AFFECTED]'
    outputs:
      affected: ${{ steps.get-affected-projects.outputs.affected }}

  dispatch:
    runs-on: ubuntu-latest
    needs: get-affected
    if: fromJson(needs.get-affected.outputs.affected)[0] != ""
    strategy:
      matrix:
        project: ${{ fromJson(needs.get-affected.outputs.affected) }}
    steps:
      - run: echo ${{ fromJson(needs.get-affected.outputs.affected) }}
      - name: dispatch to ci
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.PAT }}
          event-type: affected
          client-payload: '{"ref": "${{ github.ref }}", "project": "${{ matrix.project }}"}'

