name: svc1

on:
  workflow_dispatch:
    inputs:
      success:
        description: 'is it a trunk or PR flow?'
        required: true

jobs:
  report-status:
    runs-on: ubuntu-latest
    steps:
      - run: exit 0
        if: ${{ github.event.inputs.success }}
      - run: exit 1
        if: ${{ ! github.event.inputs.success }}

