name: svc3

on:
  repository_dispatch:
    types:
      - 'svc3'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: err0r500/test-nx/.github/actions/nx@main
        with:
          gitRef: ${{ github.event.client_payload.ref }}

      - uses: err0r500/test-nx/.github/actions/node@main
        with:
          app: ${{ github.event.client_payload.project }}

      - uses: err0r500/test-nx/.github/actions/docker@main
        with:
          app: ${{ github.event.client_payload.project }}
          gitRef: ${{ github.event.client_payload.ref }}
          dockerfile: ./dockerfiles/Dockerfile.node

